:root{
    --second-color: #38bdf8;
    --main-color: #e2e2e2;
    --title-color: #facc15ed;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
     display: flex;
     justify-content: center;
     align-items: center;
     height: 120vh;
    background: linear-gradient(135deg, rgba(2, 6, 23, 1), rgba(6, 24, 40, 1));
    background-image: linear-gradient(135deg, #021026 0%, #08283f 50%, #0b1726 100%);
}
.quiz-app{
    margin: 30px;
    padding: 25px;
    /* background-color: #0f172a; */
    background: linear-gradient(135deg, #0f172a, #1e293b);
    border-radius: 12px;
     box-shadow: 0 0 9px 2px var(--second-color);
     width: 90%;
     display: none;
}
.quiz-app .quiz-info{
    display: flex;
    color: var(--main-color);
    font-weight: bold;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
    font-size: 25px;
}
.quiz-app .quiz-info span{
    color: var(--second-color);
}
.quiz-app .quiz-area{
    margin: 30px 15px;
    font-size: 25px;
    color: var(--title-color);
    font-weight: bolder;

}
.quiz-app .answer-area{
    width: 100%;
    padding: 5px;

}
.quiz-app .answer-area .answer{
    margin-bottom: 10px;
    color: var(--main-color);
    font-weight: bold;
    font-size: 19px;
    padding-bottom: 10px;
    
}
.quiz-app .answer-area .answer label{
    cursor: pointer;
}
.quiz-app .answer-area .answer:not(:last-child){
    border-bottom: 1px solid #ffff;
}
.quiz-app .answer-area .answer input{
    cursor: pointer;
    display: inline-block;
    margin-right: 5px;
    color: var(--title-color);
    accent-color: var(--title-color);
}

.quiz-app .answer-area .answer input:checked + label{
    color: var(--title-color);
}
.quiz-app .control{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
    border-top: var(--main-color) 2px solid;
    padding-top: 20px;
    border-radius: 2px;
}
.quiz-app .control .bullets{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-right: 15px;
}
.quiz-app .control .bullets span{
    width: 18px;
    height: 18px;
    background-color: var(--main-color);
    border-radius: 50%;
    display: inline-block;
    margin-right: 3px;
}

.quiz-app .control .bullets span.on{
    background-color: var(--second-color);
}
.quiz-app .control .timer{
    font-weight: bold;
    font-size: 25px;
    color: var(--main-color);
    margin-right: 5px;
}

.quiz-app .submit-button{
    margin: 30px auto;
    width: 60%;
    color: var(--main-color);
    font-weight: bolder;
    font-size: 35px;
    text-align: center;
    padding: 15px;
    cursor: pointer;
    background-color: #38bdf8;
    border-radius: 10px;
    transition: .3s;
    box-shadow: 0 0 6px 0px #787777;
}
.quiz-app .submit-button:hover{
    background-color: #1f6d8f;
}

.quiz-app .res{
    margin: 15px auto;
    display: flex;
    align-items: center;
    width: fit-content;
    font-weight: bolder;
    font-size: 25px;
    color: var(--main-color);

}
.quiz-app .res > div{
    margin-right: 40px;
}
.quiz-app .res.perfect span{
    color: var(--title-color);
    font-size: 28px;
}

.quiz-app .res.good span {
    color: var(--second-color);
    font-size: 28px;
}

.quiz-app .res.bad span {
    color: red;
    font-size: 28px;
}

.began h2{
    color: var(--main-color);
    font-weight: bolder;
    font-size: 45px;
    text-align: center;
}
.began p{
    color: var(--second-color);
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}
.began button.start{
    background-color: var(--second-color);
    font-weight: bold;
    font-size: 35px;
    color: var(--main-color);
    padding: 10px;
    border-radius: 10px;
    outline: none;
    text-align: center;
    display: block;
    margin: 20px auto;
    cursor: pointer;
    transition: .3s;
}
.began button.start:focus{
    outline: none;
}
.began button.start:hover{
    background-color: #1e5e79;
}

.error{
    color: rgb(170, 18, 18);
    font-size: 35px;
    display: none;
    text-align: center;
    font-weight: bolder;
}